@import url("https://fonts.googleapis.com/css?family=Caveat+Brush|Montserrat");

body {
  font-family: Montserrat, helvetica, sans-serif;
  font-size: 1rem;
  color: #666;
  background-color: #FFD3CE;
}

a {
  color: #ba888b;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:focus { color: #d99fab; }

section {
  width: 75%;
  margin: 50px auto 0;
}

article {
  padding: 50px;
  background: #fefefe;
  text-align: justify;
  border-radius: 10px;
}

p:last-child { margin-bottom: 0; }

h1 {
  font-family: "Caveat Brush", "arial black", cursive;
  font-size: 2rem;
  font-weight: normal;
  color: #d99fab;
  margin: 0;
}

.big { display: block; width: 200px; margin: 0 auto 50px; }
.face { fill: #fff; }
