@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  font-family: "Varela Round", helvetica, sans-serif;
  font-size: 1rem;
  color: #666;
  background-color: #FFD3CE;
}

a {
  color: #ba888b;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:focus { color: #d99fab; }

section {
  width: 75%;
  margin: 100px auto 0;
}

article {
  position: relative;
  margin: 0 auto;
  padding: 50px;
  background: #fefefe;
  text-align: justify;
  border-radius: 10px;
}

:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  top: -15px;
  left: 50%;
}

p:last-child { margin-bottom: 0; }

h1 {
  font-size: 2rem;
  font-weight: normal;
  color: #d99fab;
  margin: 0;
}

.big { display: block; width: 250px; margin: 50px auto; }
.face { fill: #fff; }
